html,
body,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-container {
	flex: 1 1 auto;
	width: 100%;
	border: 2px solid lightgray;
	padding: 20px;
}

.app-header {
	display: flex;
	justify-content: center;
}
